<h1>Compare</h1>
<form action="/countries/results" method="POST">
    <label for="">Enter Country 1: </label>
    <input type="text" name="country_1">

    <label for="">Enter Country 2: </label>
    <input type="text" name="country_2">
    <button>Submit</button>
</form>
<a href="/ <% logged_in? %>">Back</a>