<h1>Add Country</h1>
    <form action="/countries" method="POST">
        <label for="">Name: </label>
        <input type="text" name="name">
        <br>

        <label for="">Image URL: </label>
        <input type="text" name="image_url">
        <br>

        <label for="">Capital: </label>
        <input type="text" name="capital">
        <br>

        <label for="">Area: </label>
        <input type="text" name="area">
        <br>

        <label for="">Population: </label>
        <input type="text" name="population">
        <br>

        <button>Add Country</button>
        <a href="/ <% logged_in? %>">Back</a>
    </form>