<h1>Add Country</h1>
    <form action="/countries" method="POST">
        <label for="">Name: </label>
        <input type="text" name="name">

        <label for="">Image URL: </label>
        <input type="text" name="image_url">

        <label for="">Capital: </label>
        <input type="text" name="capital">

        <label for="">Area: </label>
        <input type="text" name="area">

        <label for="">Population: </label>
        <input type="text" name="population">

        <button>Add Country</button>
    </form>